body {
	font-family: var(--body-font);
}

a {
	color: var(--color-secondary);
	font-weight: var(--font-weight-bold);
}

a:hover,
a:focus,
a.active,
a:active {
	color: var(--color-primary);
}

.social-icon {
	background-color: #02010100;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}

.icon {
	display: inline-block;
	line-height: 1;
	transition: all 0.3s;
	color: #69727d;
	font-size: 50px;
	text-align: center;
}

.social-icon:last-child {
	margin: 0;
}

.icon.social-icon {
	font-size: var(--icon-size);
	line-height: var(--icon-size);
	width: calc(var(--icon-size) + 2 * var(--icon-padding));
	height: calc(var(--icon-size) + 2 * var(--icon-padding));
}

h1 {
	font-size: var(--font-size-xxl);
	color: var(--color-alternate);
	font-family: var(--heading-font);
    font-weight: var(--font-weight-heavy);
}

a.button {
	background-color: var(--color-primary);
	color: var(--color-background);
	border-radius: var(--border-radius-m);
	padding: var(--spacing-m) var(--spacing-l);
	font-weight: var(--font-weight-semi-bold);
	width: max-content;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s;
}

a.button:hover {
	background-color: var(--color-alternate);
}

a.button > svg {
	width: var(--button-icon-size);
	margin-left: var(--spacing-xs);
}

a.button.accent {
	background-color: var(--color-accent);
	color: var(--color-secondary);
}

a.button.accent:hover {
	background-color: var(--color-alternate);
}

a.button.alternate {
	background-color: var(--color-alternate);
	color: var(--color-secondary);
}

a.button.alternate:hover {
	background-color: var(--color-accent);
}