:root {
	--border-radius-none: 0;
	--border-radius-s: 20px;
	--border-radius-m: 30px;
	--border-radius-l: 50px;

	--font-weight-light: 300;
	--font-weight-normal: normal;
	--font-weight-bold: 500;
	--font-weight-semi-bold: 600;
	--font-weight-heavy: 700;

	--font-size-xs: 0.8rem; /* 12.8px */
	--font-size-s: 1rem; /* 16px */
	--font-size-m: 1.2rem; /* 19.2px */
	--font-size-l: 1.5rem; /* 24px */
	--font-size-xl: 2rem; /* 32px */
	--font-size-xxl: 4.75rem; /* 76px */

	--body-font: 'Dm Sans Local', sans-serif;
	--fine-print-font: 'Poppins Local', sans-serif;
	--heading-font: 'Epilogue', sans-serif;
	--tall-font: 'Marcellus Local', sans-serif;

	--spacing-xxs: 0.25rem; /* 4px */
	--spacing-xs: 0.5rem; /* 8px */
	--spacing-s: 0.75rem; /* 12px */
	--spacing-m: 1.25rem; /* 20px */
	--spacing-l: 2.5rem; /* 40px */
	--spacing-xl: 3.75rem; /* 60px */
	--spacing-xxl: 6.25rem; /* 100px */


	--icon-size: 1.25rem; /* 20px */
	--icon-padding: 0.2em;
	--social-icon-icon-color: #fff;
	--button-icon-size: 1rem; /* 16px */

	--color-primary: #61b0ed;
	--color-secondary: #0f0f0f;
	--color-text: #666b68;
	--color-accent: #ffdf91;
	--color-tertiary: #9f9f9f;
	--color-background: #ffffff;
	--color-alternate: #ececec;
	--color-border: #c5c5c5;
	--color-alt-light: #74b2e0;
	--color-alt-medium: #4b8ec8;
	--color-alt-dark: #2b2b8f;
}
